# System
.DS_Store

# Local Policy And Workflow Definitions
.policies/
.workflows/

# Root Env
.env
.env.*
!.env.example
.env.local

# Service Envs
backend/.env
frontend/.env

# Local Setup
node_modules
.playwright-cli
*.tsbuildinfo
